
@{
    ViewBag.Title = "Ajuda";
}

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Estamos aqui
        <small>SMDEI</small>
    </h1>



    <!-- Content Row -->
    <div class="row  mt-5">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4 mt-5">
            <!-- Embedded Google Map -->
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.0574327446125!2d-43.20782198545665!3d-22.911252385009533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997f06780932c9%3A0x9e095c3a166d0561!2sR.+Afonso+Cavalcanti%2C+455+-+Cidade+Nova%2C+Rio+de+Janeiro+-+RJ!5e0!3m2!1spt-BR!2sbr!4v1523217329987" width="700" height="450" style="border: 0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
            <h3>Contatos</h3>
            <p>
                Rua Afonso Cavalcanti, 455, Prédio Anexo, 9 andar
            </p>
            <p>
                Telefone: 2976-3695
            </p>
            <p>
                Email: acs.smdei@gmail.com
            </p>
        </div>
    </div>
</div>

