
@{
    ViewBag.Title = "Faq";
}


<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        FAQ
        <small>Perguntas Frequentes</small>
    </h1>



    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">O que é Ecossistema de Inovação?</a>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    "Ecossistema é um ambiente em que vive um conjunto de formas de vida que interagem entre si, formando um sistema estável.”
                    <br>
                    Várias pessoas, empresas e organizações interagem entre si com o objetivo de desenvolver projetos, formando um ambiente de aprendizagem e criação inovadora.</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Posso avaliar um projeto sem estar cadastrado?
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    Não, apenas pessoas que se cadastraram e utilizaram daquele projeto poderá avaliar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Posso cadastrar um projeto sem ser uma pessoa jurídica?
                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    Sim, tanto pessoas físicas quanto jurídicas podem ter seu projeto cadastrado no site, desde que ele seja inovador.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingfor">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefor" aria-expanded="false" aria-controls="collapsefor">
                        Posso realizar a compra de um projeto pelo site?
                    </a>
                </h5>
            </div>
            <div id="collapsefor" class="collapse" role="tabpanel" aria-labelledby="headingfor">
                <div class="card-body">
                    Não, o site não tem opções de compra.
                </div>
            </div>
        </div>
        

    </div>

</div>

