<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecossistema</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/contrast.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/navestilo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<header>
    @{
        if (Session["auth"] == null)
        {
            Html.RenderPartial("~/Views/Shared/_header.cshtml");
        }
        else
        {
            Html.RenderPartial("~/Views/Shared/_headerlogado.cshtml");
        }

    }
</header>
<body class="acessibilidade">
    <div class="container body-content">
        <div class="text-right mr-5 mt-4">
            <button class="btn btn-light" onclick="fonte('d');">A-</button>
            <button class="btn btn-light" onclick="fonte('a');">A+</button>
            <a href="#altocontraste" id="altocontraste" accesskey="3" onclick="window.toggleContrast()" onkeydown="window.toggleContrast()" class="btn btn-light">
                <img src="~/assets/c.png" />
                <div id="recipiente"></div>
            </a>
        </div>
        <main>
            @RenderBody()
        </main>

        <hr />
    </div>
    <footer class="page-footer font-small stylish-color-dark text-center">
        @{
            Html.RenderPartial("~/Views/Shared/_footer.cshtml");
        }
    </footer>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/zoomInOut.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/validacao.js"></script>
    <script src="~/Scripts/js/sec.js"></script>
    <script src="~/Scripts/js/acessibilidade.js"></script>
    <script src="~/Scripts/js/libras.js"></script>

    <script>



        $("#CEP").focusout(function () {
            $.ajax({
                url: 'http://viacep.com.br/ws/' + $(this).val() + '/json/unicode/',
                dataType: 'json',
                success: function (resposta) {

                    $("#Logradouro").val(resposta.logradouro);
                    $("#Bairro").val(resposta.bairro);
                    $("#Cidade").val(resposta.localidade);

                }
            });

        });
    
        var wl = new WebLibras({
            compatibilityMode: true
        });
    </script>
</body>
</html>