@model eco_solution.ModelView.ModelViewPessoaJuridica

@{
    ViewBag.Title = "Details";
}

<div class="row mb-5 mt-5">
    <div class="col"></div>
    <div class="container  col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">@Html.DisplayFor(item => item.Pessoa.Nome)</h1>
            </div>

            <div class="card-body">
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 small lh-125">
                    </div>
                </div>


                <h6 class="display-4 mb-5">Descrição</h6>
                <p class="card-text text-left">

                    @Html.DisplayFor(item => item.Pessoa.Descricao)

                </p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
