
@{
    ViewBag.Title = "Index";
}



    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header">
                <h1 class="text-center display-4">Sobre</h1>
            </div>
            <div class="card-body">

                <div class="card-body">
                    <h3 class="card-title text-center">Projeto</h3>
                    <p class="card-text text-justify">
                        O Ecossistema de Inovação busca auxiliar pessoas inovadoras e empresas que tem o foco em inovar o mercado. Fazer com que estes, possam divulgar seus trabalhos e serem avaliados. Com isto será possível a comunicação entre inovadores e clientes.
                        Visando a  busca por profissionais, empresas e organizações inovadoras capazes de atender suas expectativas, se baseando em experiências anteriores e nas avaliações dos clientes.
                        Existe uma grande dificuldade na organização, divulgação e busca de entidades inovadoras que produzam inovação além da perspectiva geral de mercado, portanto, será desenvolvido um sistema web que irá disponibilizar para SMDEI um mecanismo de gerenciamento dos projetos e dos usuários.

                        Empresas e pessoas que produzem inovação terão disponibilidade para divulgação dos seus projetos inovadores. A cada projeto contratado e finalizado os usuários inovadores deverão disponibilizar um link por e-mail para seus clientes avaliarem o projeto. Clientes em potencial poderão visualizar os dados das empresas e pessoas inovadoras, seus projetos, e as avaliações de quem já contratou algum projeto dessas pessoas ou empresas

                    </p>
                    <h3 class="card-title text-center">Quem somos</h3>
                    <p class="card-text text-justify">
                        Criada pelo projeto FORSOFT-RIO, a plataforma de Ecossistema de Inovação atua no segmento de tecnologia e tem como principais diferenciais, a constante inovação e busca por soluções personalizadas para cada necessidade que surge no dia-a-dia de nossos clientes.

                        A plataforma de Inovação é formada por profissionais focados em desenvolver soluções diferenciadas que assegurem vantagens competitivas e inovadoras no mercado para nossos clientes, voltado amplamente ao mercado disputado e em constante evolução.

                        Nossos princípios consistem na manutenção do bom relacionamento comercial, a transparência de nossas ações e, principalmente, a ética necessária nas atividades que envolvem um ecossistema de inovação entre empresas e pessoas inovadoras.

                    </p>

                    <section id="team" class="pb-5">
                        <div class="container">

                            <h3 class="card-title text-center">Nossa Equipe</h3>
                            <div class="row">
                                <!-- Team member -->
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 mt-2">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p>
                                                            <img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="Foto do desenvolvedor">
                                                        </p>
                                                        <h4 class="card-title">Lorem Ipsum</h4>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                                        <a class="btn btn-block btn-social btn-linkedin " href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                </div>
            </div>
        </div>
    </div>
