
@{
    ViewBag.Title = "Index";
}



    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header">
                <h1 class="text-center display-4">Sobre</h1>
            </div>
            <div class="card-body">

                <div class="card-body">
                    <h3 class="card-title text-center">Projeto</h3>
                    <p class="card-text text-justify">
                        O Ecossistema de Inovação busca auxiliar pessoas inovadoras e empresas que tem o foco em inovar o mercado. Fazer com que estes, possam divulgar seus trabalhos e serem avaliados. Com isto será possível a comunicação entre inovadores e clientes.
                        Visando a  busca por profissionais, empresas e organizações inovadoras capazes de atender suas expectativas, se baseando em experiências anteriores e nas avaliações dos clientes.
                        Existe uma grande dificuldade na organização, divulgação e busca de entidades inovadoras que produzam inovação além da perspectiva geral de mercado, portanto, será desenvolvido um sistema web que irá disponibilizar para SMDEI um mecanismo de gerenciamento dos projetos e dos usuários.

                        Empresas e pessoas que produzem inovação terão disponibilidade para divulgação dos seus projetos inovadores. A cada projeto contratado e finalizado os usuários inovadores deverão disponibilizar um link por e-mail para seus clientes avaliarem o projeto. Clientes em potencial poderão visualizar os dados das empresas e pessoas inovadoras, seus projetos, e as avaliações de quem já contratou algum projeto dessas pessoas ou empresas

                    </p>
                    <h3 class="card-title text-center">Quem somos</h3>
                    <p class="card-text text-justify">
                        Criada pelo projeto FORSOFT-RIO, a plataforma de Ecossistema de Inovação atua no segmento de tecnologia e tem como principais diferenciais, a constante inovação e busca por soluções personalizadas para cada necessidade que surge no dia-a-dia de nossos clientes.

                        A plataforma de Inovação é formada por profissionais focados em desenvolver soluções diferenciadas que assegurem vantagens competitivas e inovadoras no mercado para nossos clientes, voltado amplamente ao mercado disputado e em constante evolução.

                        Nossos princípios consistem na manutenção do bom relacionamento comercial, a transparência de nossas ações e, principalmente, a ética necessária nas atividades que envolvem um ecossistema de inovação entre empresas e pessoas inovadoras.

                    </p>

                    <div class="container">
                        <h3 class="card-title text-center">Nossa Equipe</h3>

                        @*Equipe forsoft*@


                        <div class="row ">
                            <!-- Team member -->
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Aline Gomes</h4>
                                        <a href="https://www.linkedin.com/in/aline-gomes-da-silva-0439235b" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Altamir Neto</h4>
                                        <a href="https://www.linkedin.com/in/altamir-neto-a0b33415b/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Amanda Monteiro</h4>
                                        <a href="https://www.linkedin.com/in/amanda-salles-monteiro-0b8958162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Danilo Barbosa</h4>
                                        <a href="https://www.linkedin.com/in/danilo-barbosa-9497a3128/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Douglas Falcão</h4>
                                        <a href="https://www.linkedin.com/in/douglas-falc%C3%A3o-b32088111/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Douglas Fernandes</h4>
                                        <a href="https://www.linkedin.com/in/douglas-fernandes-90575911b/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Edionaldo Costa</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Elberth Amparo</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Elder Barcellos</h4>
                                        <a href="https://www.linkedin.com/in/elder-barcellos-162254162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Elias Santos</h4>
                                        <a href="https://www.linkedin.com/in/elias-santos-9053b914a/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Eric da Silva</h4>
                                        <a href="https://www.linkedin.com/in/eric-oliveira-silva/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Fabrício Pinheiro</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Fernanda Ramalho</h4>
                                        <a href="https://www.linkedin.com/in/fernanda-ramalho-a45a67136/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Franciele Nascimento</h4>
                                        <a href="https://www.linkedin.com/in/franciele-nascimento-26abb2162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Gabriel Bur</h4>
                                        <a href="https://www.linkedin.com/in/gabriel-bur-545563104/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Gabriel Cruz</h4>
                                        <a href="https://www.linkedin.com/in/gabriel-cruz-0b9658160/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Huedson Santos</h4>
                                        <a href="https://www.linkedin.com/in/huedson-santos-93231b15b/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Igor Sousa</h4>
                                        <a href="https://www.linkedin.com/in/igor-amorim-ab93b5b6/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Jefferson dos Santos</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Jhony da Silva</h4>
                                        <a href="https://www.linkedin.com/in/jhony-da-silva-286445146/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Jonathan Cadete</h4>
                                        <a href="https://www.linkedin.com/in/jonathan-cadete-gomes-pires-657b29161" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Larissa Lessa</h4>
                                        <a href="https://www.linkedin.com/in/larissa-gomes-lessa-de-souza-cosme-406b2515b" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Luan Farias</h4>
                                        <a href="https://www.linkedin.com/in/luan-farias-81746b157" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Accácio</h4>
                                        <a href="https://www.linkedin.com/in/lucas-accacio-8705a695/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Araujo</h4>
                                        <a href="https://www.linkedin.com/in/lucasaraujo451/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Bandeira</h4>
                                        <a href="https://www.linkedin.com/in/lucas-bandeira-918745121/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Justiniano</h4>
                                        <a href="https://www.linkedin.com/in/lucasjustiniano" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Matos</h4>
                                        <a href="https://www.linkedin.com/in/lucas-matos-trindade-de-melo-29238b161/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center mb-2">
                                        <h4 class="card-title">Lucas Pereira</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Lucas Porto</h4>
                                        <a href="https://www.linkedin.com/in/lucasporto98/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Luiz Pamplona</h4>
                                        <a href="https://www.linkedin.com/in/luiz-pamplona-650596161/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Luiz Raphael Evangelista</h4>
                                        <a href="https://www.linkedin.com/in/luiz-raphael-evangelista-de-souza-1b8004163/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Matheus Barbosa</h4>
                                        <a href="https://www.linkedin.com/in/eumatheusalves/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Meylin Fernandes</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Michele de Jesus</h4>
                                        <a href="https://www.linkedin.com/in/michele-da-silva-teixeira-de-jesus-729a74162" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Miguel Angelo</h4>
                                        <a href="#" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Patrick Serpa</h4>
                                        <a href="https://www.linkedin.com/in/patrick-lira-serpa-a1241715b/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Pedro Maldini</h4>
                                        <a href="https://www.linkedin.com/in/pedro-maldini-74b36a160/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Rafael Grillo</h4>
                                        <a href="https://www.linkedin.com/in/rafael-grillo-385a4b162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Stephanie Freitas</h4>
                                        <a href="https://www.linkedin.com/in/stephanie-oliveira-c-freitas-444a81162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Tatiana dos Santos</h4>
                                        <a href="https://www.linkedin.com/in/tatiana-barbosa-828b41156" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Umberto Ferraz</h4>
                                        <a href="https://www.linkedin.com/in/umbertoferraz" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mb-2">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h4 class="card-title">Wellington Santos</h4>
                                        <a href="https://www.linkedin.com/in/wellington-pereira-979a68162/" class="btn btn-li"><i class="fa fa-linkedin pr-1"></i> Linkedin</a>
                                    </div>
                                </div>
                            </div>

                        </div>



                        @*Equipe forsoft*@

                    </div>
                </div>
            </div>
        </div>
    </div>
